@using Lab_5.ViewModels.Departments
@using Lab_5.ViewModels
@using Lab_5.Models
@model PaginationViewModel<Department, DepartmentFilterViewModel, DepartmentSortViewModel>

@addTagHelper *, Lab_5

@{
    ViewData["Title"] = "Index";
}

<h1>Список отделов</h1>

<form method="get" class="mt-1">
    <label class="form-inline">Название: </label>
    <input class="form-control" name="name" text="@(Model.FilterViewModel.SelectedDepartmentName)" />

    <label class="form-inline mt-1">Номер: </label>
    <input class="form-control" name="phone" text="@(Model.FilterViewModel.SelectedPhone)" />

    <input type="submit" value="Фильтр" class="mt-2 btn btn-primary" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-phone="@(Model.FilterViewModel.SelectedPhone)"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedDepartmentName)">Название</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-phone="@(Model.FilterViewModel.SelectedPhone)"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedDepartmentName)">Номер</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentPhone)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("MainAdmin") || User.IsInRole("Admin")))
                {
                    <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> 
                }
                <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("MainAdmin") || User.IsInRole("Admin")))
                {
                        <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-name="@(Model.FilterViewModel.SelectedDepartmentName)"
           page-url-phone="@(Model.FilterViewModel.SelectedPhone)"
           page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>