@using Lab_5.ViewModels
@using Lab_5.ViewModels.Posts
@using Lab_5.Models
@model PaginationViewModel<Post, PostFilterViewModel, PostSortViewModel>

@addTagHelper *, Lab_5

@{
    ViewData["Title"] = "Должности";
}

<h1>Список должностей</h1>

<form method="get" class="mt-1">
    <label class="form-inline">Название: </label>
    <input class="form-control" name="postName" text="@(Model.FilterViewModel.SelectedPostName)"/>

    <label class="form-inline mt-1">Зарплата: </label>
    <input class="form-control" name="salary" text="@(Model.FilterViewModel.SelectedSalary)"/>

    <input type="submit" value="Фильтр" class="btn btn-primary mt-2" />
</form>

@if (User.Identity.IsAuthenticated && (User.IsInRole("MainAdmin") || User.IsInRole("Admin")))
{
    <p class="mt-2">
        <a asp-action="Create">Добавить</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-salary="@(Model.FilterViewModel.SelectedSalary)"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                   asp-route-postName="@(Model.FilterViewModel.SelectedPostName)">
                    @Html.DisplayNameFor(item => item.Items.First().PostName)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-salary="@(Model.FilterViewModel.SelectedSalary)"
                   asp-route-page="@(Model.PageViewModel.PageNumber)"
                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                   asp-route-postName="@(Model.FilterViewModel.SelectedPostName)">
                    @Html.DisplayNameFor(item => item.Items.First().PostSalary)
               </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostSalary)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("MainAdmin") || User.IsInRole("Admin")))
                    {
                <a asp-action="Edit" asp-route-id="@item.PostId">Ред.</a> 
                    }
                <a asp-action="Details" asp-route-id="@item.PostId">Дет.</a> 
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("MainAdmin") || User.IsInRole("Admin")))
                    {
                <a asp-action="Delete" asp-route-id="@item.PostId">Уд.</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-postName="@(Model.FilterViewModel.SelectedPostName)"
           page-url-salary="@(Model.FilterViewModel.SelectedSalary)"
           page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>