@model Lab_5.Task

@{
    ViewData["Title"] = "Детали задания";
}

<h1>Детали задания</h1>

<div>
    <h4>Задание</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FailedReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FailedReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("MainAdmin") || User.IsInRole("Admin")))
    {
        <span><a asp-action="Edit" asp-route-id="@Model?.TaskId">Редактировать</a> |</span>
    }

    <a asp-action="Index">Назад</a>
</div>
