@model Lab_5.Employee

@{
    ViewData["Title"] = "Детали сотрудника";
}

<h1>Детали сотрудника</h1>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeMiddlename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeMiddlename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.PostName)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("MainAdmin") || User.IsInRole("Admin")))
    {
        <span><a asp-action="Edit" asp-route-id="@Model?.EmployeeId">Редактировать</a> |</span>
    }
    <a asp-action="Index">Назад</a>
</div>
